@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
p{
    font-size:15px;
    font-weight: 400;
}
body{
    border:1px solid red;
    padding:80px;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:hsl(236,13%,42%);
}
.nav-bar{
    /* border: 1px solid red; */
    padding:15px 20px;
    display: flex;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:20px;
}
.main-container{
    display: flex;
    justify-content: space-between;
    gap:64px;
    width:100%;
    margin:auto;
    flex-wrap: wrap;
}
.left-side h1{
    font-weight: 800;
    font-size:3rem;
    width:80%;
}
.left-side p{
    color: hsl(236, 13%, 42%);
    margin-bottom:20px;
}
.left-side img{
    width:100%;
}
.container{
    display: flex;
    justify-content: space-between;
    gap:52px;
    flex-wrap: wrap;
}
.container .left-paragraph{
    width:80%;
    text-align: left;
    padding:20px;
}
.container button{
    padding:10px 30px;
    background:hsl(5, 85%, 63%);
    color:beige;
    border: none;
    margin-top: 20px;
}
.right-side{
    background: hsl(240,100%,5%);
    color:white;
    text-align: left;
    padding:15px;
    width:65%;
}
.right-side h1{
    color: hsl(35, 77%, 62%);
    margin:20px;
}
.right-side h4{
    color:hsl(36, 100%, 99%);
    margin:10px;
}
.right-side p{
    /* font-size: 0.8rem; */
    color:hsl(233, 8%, 79%);
    margin:10px;
}
.container2 h2,h4,p{
    padding:5px 0;
}
.container2 h2{
    color:hsl(233, 8%, 79%);
}
.container2 h4{
    color:hls(0,0,100%);
}
.container2 p{
    color:hsl(233, 8%, 79%);
}
.container2{
    display: flex;
    justify-content:center;
    gap:48px;
    width:100%;
    flex-wrap: wrap;
    /* border:1px solid red; */
}
.container2 .cols{
    width:60%;
    /* border:1px solid red; */
    margin:15px;
    padding: 13px;
    display: flex;
    gap:12px;
}
.container2 img{
    width:100px;
    height:100px;object-fit: cover;
}
@media(max-width:876px){

}